<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 col-md-offset-3">
			<form role="form" action="/experiencia/create" method="POST">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="title">Title</label>
						</div>
						<div class="col-xs-8">
							<input type="text" class="form-control" id="title" name="title" required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="description">Descripcion</label>
						</div>
						<div class="col-xs-8">
							<input type="text" class="form-control" id="description" name="description" required />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="depto">Departamento</label>
						</div>
						<div class="col-xs-8">
							<input type="email" class="form-control" id="depto" name="depto" required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="city">Ciudad</label>
						</div>
						<div class="col-xs-8">
							<input type="text" class="form-control" id="city" name="city" required />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="address">Direccion</label>
						</div>
						<div class="col-xs-8">
							<input type="tel" class="form-control" id="address" name="address"  required/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-4">
							<label for="state">Estado</label>
						</div>
						<div class="col-xs-8">
							<input type="tel" class="form-control" id="state" name="state"required  />
						</div>
					</div>
				</div>
					<div class="form-group">
				<button type="submit" class="btn btn-success btn-lg  pull-right" >Enviar</button>
				</div>
			</form>
		</div>
	</div>
</div>