
<div class="container">
<div class="jumbotron">
   
        <h1>
            IncluApp
        </h1>
            <p>
             Bienvenido Señor CURADOR
            </p>
        <p>
          <a class="btn btn-primary btn-lg" href="/experiencia/index">VER EXPERIENCIAS</a>
        </p>
        <p>

        
        </p>
    </div>
</div>