<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" href="netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!--
    Stylesheets and Preprocessors
    ==============================
    You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      
      + Change the order of your CSS files
      + Import stylesheets from other directories
      + Use a different or additional preprocessor, like SASS, SCSS or Stylus
      -->
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/bootstrap-theme.css">
      <link rel="stylesheet" href="/styles/bootstrap.css">
      <link rel="stylesheet" href="/styles/footer.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
    </head>
    <body>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/proceso_de_paz_colombia.png" width="110" height="20"> </a>
          </div>
          
          <div class="collapse navbar-collapse navbar-ex1-collapse ">
            <ul class="nav navbar-nav">
              <li >
                <a href="/experiencia/index">Experiencias</a>
              </li>

            </ul>
          </div>
        </div>
        
      </nav>
      <%- body %>
      <!--
      Client-side Templates
      ========================
      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.
      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).
      
      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      + Import templates from other directories
      + Use a different template engine (handlebars, jade, dust, etc.)
      + Internationalize your client-side templates using a server-side
      stringfile before they're served.
      -->
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->
      <!--
      Client-side Javascript
      ========================
      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
      
      + Change the order of your scripts
      + Import scripts from other directories
      + Use a different preprocessor, like TypeScript
      -->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/jquery-1.11.1.min.js"></script>
      <script src="/js/bootstrap.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!--SCRIPTS END-->
      <div id="footContainer">
        <div class="container">
          <div class="row">
            
            <br>
            
            <div class="col-md-2">
              <br><br><br>
              <img src="/images/proceso_de_paz_colombia.png" width="180" height="80">
             
            </div>

            <div class="col-md-4">
            <p class="leadwhite"><br>Aunque hemos narrado historias de guerra por más de 50 años, también hemos contado y vivido historias de paz, de resistencia de las comunicaciones frente al conflicto y reconstrucción de memoria. Existen experiencias de construcción de paz en diferentes regiones de Colombia, ideas para la superación de las secuelas de la guerra, que han sobrevivido a cambios de gobierno y al surgimiento de nuevos grupos al margen de la ley. Historias que hoy se perfilan como lecciones para escenarios de posconflicto y reconciliación.</p>
            </div>
            
            <div class="col-md-3">
            <br><h4>Sobre nosotros</h4>
            <ul>
              <li class="vinieta"><a href="http://inclupaz.org/public/home">Qué es Inclupaz?</a></li>
              <li class="vinieta"><a href="http://inclupaz.org/public/home">FAQ's</a></li>
              <li class="vinieta"><a href="http://inclupaz.org/public/home">Contáctanos</a></li>
            </ul>
            </div>
            
            <div class="col-md-3">
              <center>
              <h3 class="h3blanco">Networking</h3><br>
              <a href="http://inclupaz.org/public/home"><img src="/images/fb.png" ></a>
              <a href="http://inclupaz.org/public/home"><img src="/images/twt.png" ></a>
              <a href="http://inclupaz.org/public/home"><img src="/images/gplus.png" ></a>
              <br><br><br>
              <p class="white">Powered by
              <a href="http://www.reyesmagossoft.tk"> ReyesMagos Soft</a></p>
            
              
              </center>
            </div>
            
            
          </div>
          </div>
          </div>
       
        
    </body>
  </html>